@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding-bottom: 60px;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-color: #ffffff;  */
    background: url('/background-image.jpeg') no-repeat center center fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */

/* Ensure the background image covers the entire viewport and remains fixed */
.bg-cover {
  background-size: cover;
}

/* Center the background image */
.bg-center {
  background-position: center;
}

/* Adjust z-index to ensure the background image remains behind other content */
.z-0 {
  z-index: 0;
}

.container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.background-image {
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  /* background: url('/background-image.jpeg') no-repeat center center fixed; */
  background-size: cover;
  z-index: -1; /* Ensure it is behind other content */
}

.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Change the color and opacity as needed */
  z-index: 1;
}

